@model EcoHotels.Web.UI.Areas.Admin.Models.Price.RackRateModel
@{
    ViewBag.Title = "Rates";
    Layout = "~/Areas/Admin/Views/Shared/_App.cshtml";
}

@{Html.RenderAction("mainnavigation", "navigation", new { page = "pricing" });}

<div id="view" class="container" data-view="rates" data-action="rackrate">
    <h2>
        Rates
        <small>Manage all the pricing categories</small>
    </h2>
    <div class="row">
        <div class="span9">
            <br />
            
            <form id="form" class="form-horizontal ajaxform" action="@Url.Action("index", "rate", null)" method="post">
                <div>
                    @Html.AntiForgeryToken()
                </div>

                <div class="content">
                    <div class="control-group">
                        <div class="alert hidden">...</div>
                    </div>
                </div>

                <div class="content">
                    <h3>Rack rates</h3>
                    <small>These are the default rates for the different roomtypes.</small>
                    <br /><br />
                </div>

                @for(var i = 0; i < Model.Items.Count(); i++)
                { 
                <div class="control-group">
                    <label class="control-label" for="input01">@Model.Items[i].Name:</label>
                    <div class="controls">                        
                        @Html.TextBoxFor(m => m.Items[i].Value, new { @class = "span1 number-required" })
                        @Html.HiddenFor(m => m.Items[i].RoomTypeId)
                    </div>
                </div>                                    
                }

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary" data-loading-text="Saving...!" data-complete-text="Save change">Save changes</button>
                </div>
            </form>

        </div>
        <div class="span3">
            @{Html.RenderAction("rates", "navigation", new { page = "rackrate" });}
        </div>
    </div>
</div>
