<!DOCTYPE html>
<html lang="en">
  <head>
    @RenderSection("gce", required: false)
    <meta charset="utf-8">
    <title>@ViewBag.Title - I love eco hotels</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/assets/bootstrap-2.2.2/css/bootstrap-responsive.min.css" rel="stylesheet">
    @{
        Html.RequiresCss("/assets/bootstrap-2.2.2/css/bootstrap.min.css", 0);
        Html.RequiresCss("/assets/bootstrap-2.2.2/css/bootstrap-responsive.min.css", 1);
        
        Html.RequiresCss("/assets/css/site.css", 100);
    }
    @MvcHtmlString.Create(Html.RenderCssHere())

    @* Le HTML5 shim, for IE6-8 support of HTML5 elements *@
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    @RenderSection("stylesheet", required: false)
</head>
<body>
    <div id="contactable"><!-- contactable html placeholder --></div>

    @Html.Partial("_MenuPartial", new { SelectedItem = @ViewBag.MenuItem })

    @RenderBody()

    @{
        Html.RequiresJs("/assets/3rdparty/jQuery/jquery-1.10.2.min.js", 1);
        Html.RequiresJs("/assets/3rdparty/jQuery/jquery-ui-1.10.3.custom.min.js", 2);     
        Html.RequiresJs("/assets/3rdparty/jQuery/jquery.validate.min.js", 3);
        Html.RequiresJs("/assets/js/jquery.form.min.js", 4);

        Html.RequiresJs("/assets/bootstrap-2.2.2/js/bootstrap.min.js", 20);
        
        Html.RequiresJs("/assets/js/site.js", 100);
    }            
    @MvcHtmlString.Create(Html.RenderJsHere())
    @RenderSection("javascript", required: false)
</body>
</html>